
@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Form Checklist Lube Compliance</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="@ViewBag.pathParent/form/bss/log/032/" id="btnSave" class="btn btn-md btn-danger">
                                    <i class="material-icons opacity-10">keyboard_backspace</i> Kembali
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-static mb-4">
                                    <label>Inputer (Isi Nik)</label>
                                    <input type="text" id="txtNik" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-static mb-4">
                                    <label>Nama</label>
                                    <input type="text" id="txtNama" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-static mb-4">
                                    <label>Jabatan</label>
                                    <input type="text" id="txtJabatan" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-static mb-4">
                                    <label>Tahun</label>
                                    <input type="text" id="txtYear" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-static mb-4">
                                    <label>Bulan</label>
                                    <input type="text" id="txtMonth" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-static mb-4">
                                    <label>Minggu</label>
                                    <select class="form-control" id="ddWeek">
                                        <option value="">PILIH</option>
                                        <option value=1>Minggu ke-1</option>
                                        <option value=2>Minggu ke-2</option>
                                        <option value=3>Minggu ke-3</option>
                                        <option value=4>Minggu ke-4</option>
                                        <option value=5>Minggu ke-5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 align-self-sm-center" style="border-style: dotted">
                        <p></p>
                        <p class="text-sm">
                            Definisi Lube Compliance : Kepatuhan terhadap standart kelayakan penggunaan alat kerja maupun perlengkapan agar operasional Lube meliputi : Oil, Grease, dan
                            Coolant dapat berjalan lancar dan sesuai dengan kaedah keselamatan kerja.
                        </p>
                        <p class="text-sm">
                            Berikanlah informasi yang valid sesuai kondisi actual, apabila terdapat peralatan / perlengkapan yang tidak memenuhi standart atau tidak tersedia berikan catatan di
                            kolom Coment.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive p-0">
                            <table class="table compact table-bordered align-items-center mb-0" id="tblLubeStation" data-paging="false">
                                <thead>
                                    <tr style="border-bottom: solid #c0c0c0;">
                                        <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">#</th>
                                        <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">Lube Station</th>
                                        <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                            Checklist&nbsp;
                                            <i href="#" class="material-icons text-info btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Opsi Ya atau Tidak dipilih dengan kondisi aktual dari pertanyaan yang sudah diberikan" data-container="body" data-animation="true">
                                                info
                                            </i>
                                        </th>
                                        <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                            Comment&nbsp;
                                            <i href="#" class="material-icons text-info btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Comment diisi bila ada keterangan atau note yang menjadi perhatian berdasarkan kondisi dari pertanyaan yang diberikan" data-container="body" data-animation="true">
                                                info
                                            </i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive p-0">
                            <table class="table compact table-bordered align-items-center mb-0" id="tblLubeTruck" data-paging="false">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">#</th>
                                        <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">Lube Truck</th>
                                        <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                            Checklist&nbsp;
                                            <i href="#" class="material-icons text-info btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Opsi Ya atau Tidak dipilih dengan kondisi aktual dari pertanyaan yang sudah diberikan" data-container="body" data-animation="true">
                                                info
                                            </i>
                                        </th>
                                        <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                            Comment&nbsp;
                                            <i href="#" class="material-icons text-info btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Comment diisi bila ada keterangan atau note yang menjadi perhatian berdasarkan kondisi dari pertanyaan yang diberikan" data-container="body" data-animation="true">
                                                info
                                            </i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-1">
                        <button type="button" id="btnSave" class="btn bg-gradient-success" onclick="Save()">Simpan</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" id="btnCancel" class="btn bg-gradient-danger">Batal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/page/smf.fm032log.input.js"></script>