
@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Input Pengajuan Pemberian Hadiah, Kemurahan Hati, Sumbangan, & Keuntungan Serupa</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-frame">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <a href="@ViewBag.pathParent/form/bss/smap/007/" id="btnSave" class="btn btn-md btn-danger">
                                            <i class="material-icons opacity-10">keyboard_backspace</i> Kembali
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Nik Pemohon</label>
                                            <input type="text" id="txtNik" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Nama Pemohon</label>
                                            <input type="text" id="txtNama" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Jabatan Pemohon</label>
                                            <select class="form-control" id="ddJabatan">
                                                <option value="">PILIH</option>
                                                <option value="KADEP">KEPALA DEPARTEMEN</option>
                                                <option value="KABAG">KEPALA BAGIAN</option>
                                                <option value="KASI">KEPALA SEKSI</option>
                                                <option value="STAFF">STAFF</option>
                                                <option value="NONSTAFF">NON STAFF</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Jobsite</label>
                                            <select class="form-control" id="ddSite">
                                                <option value="">PILIH</option>
                                                @foreach (var item in ViewBag.Site)
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Departemen</label>
                                            <select class="form-control" id="ddDept">
                                                <option value="">PILIH</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group input-group-static mb-4">
                                            <label>No Telp Pemohon</label>
                                            <input type="number" id="txtTelp" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Email Pemohon</label>
                                            <input type="text" id="txtEmail" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-frame">
                            <div class="card-header">
                                <h6>Kategori Pengajuan Pemberian</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Kategori Pemberian</label>
                                            <select class="form-control" id="ddCategory">
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Sub Kategori Pemberian</label>
                                            <select class="form-control" id="ddType">
                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Taksiran Harga Nominal</label>
                                            <span class="input-group-text">Rp</span>
                                            <input type="number" id="txtNominal" min="0.01" step="0.01" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Tanggal Pemberian</label>
                                            <input id="dtTglBeri" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-frame" id="subCsrTax">
                            <div class="card-header">
                                <h6>Detail Pemberian</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Nama Kegiatan</label>
                                            <input type="text" id="txtAktivitas" class="form-control">
                                            <select class="form-control" id="ddAktivitas">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Link Kelengkapan</label>
                                            <input type="text" id="txtAttachment" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Nama Penerima</label>
                                            <input type="text" id="txtPenerima" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Pekerjaan / Jabatan Penerima</label>
                                            <input type="text" id="txtJabPenerima" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Instansi / Organisasi Penerima</label>
                                            <input type="text" id="txtOrganisasi" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Alamat / Kontak Penerima</label>
                                            <input type="text" id="txtAlamat" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Hubungan dengan Pemberi</label>
                                            <select class="form-control" id="ddRelasi">
                                                <option value="">PILIH</option>
                                                <option value="ATASAN">ATASAN</option>
                                                <option value="BAWAHAN">BAWAHAN</option>
                                                <option value="CUSTOMER">CUSTOMER</option>
                                                <option value="VENDOR">VENDOR</option>
                                                <option value="INSTANSI PEMERINTAH">INSTANSI PEMERINTAH</option>
                                                <option value="REKAN KERJA">REKAN KERJA</option>
                                                <option value="REKAN EXTERNAL">REKAN EXTERNAL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Tempat Pemberian</label>
                                            <input type="text" id="txtTempatBeri" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-frame">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Tujuan Pemberian</label>
                                            <input type="text" id="txtTujuan" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Kronologi Pemberian</label>
                                            <input type="text" id="txtKronologi" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-1">
                        <button type="button" id="btnSave" class="btn bg-gradient-success" onclick="Save()">Simpan</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" id="btnCancel" class="btn bg-gradient-danger">Batal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/page/smf.fm007smap.input.js"></script>